<% content_for :title do %>Sangmin Ahn<% end %>
<% content_for :description do %>Website for Sangmin Ahn<% end %>

<section>
	<%= image_tag "night_life.png" %>
</section>
<section>
	<div clasee="column">
		<h2>Stay in touch.</h2>
	</div>
	<div class="column">
		<div class="form-centered">
			<%= simple_form_for @visitor do |f| %>
				<%= f.error_notification %>
				<%= f.input :email, label: false, :placeholder => 'Your email address...' %>
				<br />
				<%= f.button :submit, "Sign up for the newsletter", :class => "submit" %>
			<% end %>
		</div>
	</div>
</section>